name: Update GitHub Metrics

on:
  workflow_dispatch:
  schedule:
    - cron: '51 9 * * *'

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GH_TOKEN }}
          user: ddok2
          template: terminal
          base: header, activity, community, repositories, metadata
          filename: assets/metrics.svg
          config_timezone: Asia/Seoul
          plugin_languages: yes
          plugin_languages_analysis_timeout: 15
          plugin_languages_analysis_timeout_repositories: 7.5
          plugin_languages_categories: programming
          plugin_languages_colors: github
          plugin_languages_ignored: html, css, stylus, slice
          plugin_languages_limit: 8
          plugin_languages_recent_categories: programming
          plugin_languages_recent_days: 60
          plugin_languages_recent_load: 1000
          plugin_languages_indepth: yes
          plugin_languages_details: bytes-size, percentage
          plugin_languages_sections: most-used
          plugin_languages_threshold: 0%

#          user: ddok2
#          template: classic
#          base: ""
#          config_timezone: Asia/Seoul
#
#          plugin_languages: yes
#          plugin_languages_ignored: html, css, stylus, slice
#          plugin_languages_sections: most-used, recently-used
#          plugin_languages_categories: markup, programming
#          plugin_languages_colors: rainbow
#          plugin_languages_limit: 8
#          plugin_languages_recent_days: 30
#          plugin_languages_recent_load: 1000
#          plugin_languages_threshold: 0%
#          plugin_languages_indepth: yes
#          commits_authoring: SungyubNA, ddok2, ddok2@users.noreply.github.com
#          plugin_languages_details: lines, percentage
